.App {
  text-align: center;
}

.App h1 {
  color: #FF7900;
}

.App h3 {
  color: #FF9E00;
}

.App {
  height: 00%;
  width: 100%;
  background-color: #240046;
}

.buttonGroup {
  display: flex;
  justify-content: space-between; /* Adjust as needed */
  margin-top: 20px;
}

.buttonGroup button {
  flex: 1; /* Allow buttons to take up equal space */
  margin: 0 5px; /* Add spacing between buttons */
}