code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  background-color: #240046
};

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

.image-container li {
  width: calc(33.33% - 10px); /* Set the width for each item (subtracting margin/padding) */
  margin-bottom: 20px; /* Adjust spacing between rows */
  box-sizing: border-box; /* Ensure padding and borders are included in width */
}

.image-container img {
  width: 100%; /* Ensures images fill their respective containers */
  height: auto; /* Maintains aspect ratio */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh; /* Adjust the height as needed */
}

.inputField {
  margin-bottom: 20px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputField input {
  margin-bottom: 20px; 
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p{
  color:white
}
